// Copie estas regras para o seu projeto no Firebase:
// Console → Storage → Rules.

rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function userIsInatelino() {
      return request.auth != null
        && request.auth.token.email is string
        && request.auth.token.email.matches('[A-Za-z0-9._%+-]+@([A-Za-z0-9-]+[.])*inatel[.]br');
    }

    match /{userId}/{imageId} {
      allow read, write: if userIsInatelino();
    }
  }
}
